.Header_Content{
    height: 54px;
    background-color: aquamarine;
    border-bottom: 1px solid #ddbbdd;
}

.Header_logo{
    margin-top: 1px;
}
.Header_profilepic{
    max-width: 30px;
    max-height: 30px;
    margin-top:10px;
    margin-right: 10px;
    float: right;
}
.Header_search{
    height: 30px;
    width: 215px;
    margin-top: 10px;
    border: 1px solid #ddbbdd;
    text-align: center;
    background-color: #fafafa;
    border-radius: 5px;
}
a{
    padding: 5px;
    font-weight: bold;
    color: black;
}
.Header_nav{
    margin-top: 15px;
}
.Header_home{
    margin-top: 10px;
    font-size: 25px;
    
}